.layout-admin{
  .sider{
    background-color: $primary-black;
    height: 100%;
    padding: 10px 20px;

    .sider-header{
      padding: 10px 20px;
      img{
        
        width: 100px;
        height: 100px;
        object-fit: contain;
        aspect-ratio: 16/9;
      }
      .admin{
        
        width: 200px;
        margin: 10px auto;
        display: flex;
        height: 28px;
        align-items: center;
        justify-content: center;
        background-color: $primary-white;
        gap: 10px;
        cursor: pointer;
        .icon-admin{
          color: $primary-black;
        }
        span{
          color: $primary-black;

        }
      }

    }
    .sider-content{
      height: 200px;
      max-height: 500px;
      margin: 20px 0;
      ul{
        list-style-type: none;
        padding: 0;
        text-align: start;
        width: 100%;
        height: 100%;
        li{
          background-color: #5e0a0a;
          height: 40px;
          margin: 10px 0;
          padding: 10px 15px;
          border-radius: 5px;
          a{
          
            text-decoration: none;
            color: white;
            display: inline;
          }
        }
      }
    }
  }
  .content{
    width: 100%;
    .content-header{
      width: 100%;
      box-shadow: var(--bs-box-shadow) !important;
      height: 100%;
      a {
        text-decoration: none;
        color: $primary-color;
        padding-left: 10px;
        font-weight: 700;
      }
      .icon{
        font-size: 24px;
        cursor: pointer;
      }

    }
    .dashboard{
      margin: 30px auto;
      
      .main-content{
        margin: 30px 0;
        padding: 0px 15px;
        .statistic-article{
          display: flex;
          gap: 20px;
          width: 100%;
          .ant-card{
            background-color: $color-article;
            .ant-card-body{
                    
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              
              .icon{
                        
                font-size: 38px;
                color: white;
    
              }
              .information-article{
                span{
                  display: flex;
                  flex-direction: column;
                  font-size: 16px;
                  align-items: start;
                  color: white;
                  font-weight: 700;
                }
                span:nth-child(2){
                  font-size: 28px;
  
                }
              }
            }
          }
          .ant-card:nth-child(2){
            background-color: $color-approved;
  
          }
          .ant-card:nth-child(3){
            background-color: $color-reject;
  
          }
          
          
          
        }
      }
      .chart{
        width: 600px;
        height: 600px;
        border: 3px solid #ccc;
        box-shadow: rgba(111,100,100,0.5) 1px 2px 1px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        padding: 10px 15px;
      }

    }

    .category-tag{
      margin: 50px auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      .ant-card{
        width: 50%;
        height: 400px;
        overflow: auto;
        max-height: 500px;

      .ant-card-head{
            
        font-size: 15px;
        text-align: start;

      }
      .ant-card-body{
        position: relative;
        .category{
          background-color: #d9d9d9;
          padding: 10px 15px;
          border-radius: 5px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 4px 6px 1px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px auto;
          width: 200px;
          .category-title{
            font-weight: 500;
            background-color: transparent;
            border: none;
            display: inline;
            width: 90%;
            &:focus{
              outline: none;
            }
          }
        }
        .icon-update{
          cursor: pointer;
          font-size: 25px;

        }
        .icon-tick{
          font-size: 28px;
          color: green;
          cursor: pointer;
        }
        .icon-delete{
          font-size: 28px;
          cursor: pointer;
        }
        .icon-add{
          position: absolute;
          bottom: 53px;
          right: 10px;
          font-size: 20px;
          cursor: pointer;
          color: #000000;
        }
      }
    }

    }
    .create-category{
      background-color: #ffffff;
      width: 100%;
      height: 100vw;
      padding: 30px 50px;
      form{
        margin: 30px auto;
        text-align: start;
        label{
          color: #000000;
        }
      }
    }
    .create-tag{
      background-color: #ffffff;
      width: 100%;
      height: 100vw;
      padding: 30px 50px;
      form{
        margin: 30px auto;
        text-align: start;
        label{
          color: #000000;
        }
      }
    }

  }
  header{
    button {
      background-color: $primary-white;
      color: $primary-black;
      border: 1px solid $secondary-color;
      font-weight: 500;
      transition: all 0.5s ease;
      &:hover {
        background-color: $primary-color;
        color: $primary-white;
      }
    }
  }
  .article-not-approved{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    table{
      background-color: #ffffff;
      color: #000000;
      thead{
        border-bottom: 1px solid #ccc;
        th{
          padding: 10px 0;
        }
      }
      tbody{
        border-bottom: 1px solid #ccc;
        tr{
          border-bottom: 1px solid #ccc;
          td{
            padding: 10px 5px;
            .title{
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 10px 15px;
              gap: 10px;
              img{
                width: 100px;
                height: 50px;
                object-fit: contain;
                aspect-ratio: 16/9;
              }
              p{
                margin-bottom: 0;
                font-weight: 500;
              }
            }
            .icon{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              padding: 10px;
              font-size: 28px;
              .icon-close{
                color: red;
                cursor: pointer;
              }
              .icon-tick{
                color: green;
                cursor: pointer;
              
              }
            }
            .page{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              span{
                background-color: black;
                color: white;
                padding: 4px 10px;
                border-radius: 50%;
                cursor: pointer;
              }
            }
          }

        }
      }
    }
  }
  .article-approved{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    table{
      box-shadow: rgba(100,100,111,0.5) 1px 1px 4px 1px;
      border-radius: 8px;
      background-color: #ffffff;
      color: #000000;
      thead{
        border-bottom: 1px solid #ccc;
        th{
          padding: 10px 0;
        }
      }
      tbody{
        border-bottom: 1px solid #ccc;
        tr{
          border-bottom: 1px solid #ccc;
          td{

            padding: 10px 31px;
            .title{
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 10px 15px;
              gap: 10px;
              img{
                width: 100px;
                height: 50px;
                object-fit: contain;
                aspect-ratio: 16/9;
              }
              p{
                margin-bottom: 0;
                font-weight: 500;
              }
            }
            .icon{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              padding: 10px;
              font-size: 28px;
              .icon-close{
                color: red;
                cursor: pointer;
              }
              .icon-tick{
                color: green;
                cursor: pointer;
              
              }
            }
            .page{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              span{
                background-color: black;
                color: white;
                padding: 4px 10px;
                border-radius: 50%;
                cursor: pointer;
              }
            }
            .status{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
              span{
                font-weight: 500;
              }
            }
          }

        }
      }
    }
    }
}
