// article
.article {
  background-color: $primary-white;
  .container {
    width: 1100px;
    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 500;
    }
    .card {
      overflow: hidden;
      .card-img {
        position: relative;
        height: 300px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .card-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          padding: 0;
          span {
            margin-right: 5px;
          }
        }
        .tag {
          background-color: #ffffff;
          border: 1px solid #000000;
          color: #000000;
          padding: 2px 12px;
          font-size: 14px;
        }
      }
    }
  }
}
