// auth 
.card-modal{
    width: 80%;
    height: 400px;
    max-height: 500px;
    margin: 20px auto;
    background-color: $secondary-color;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 100rem;
    z-index: 999;

    .modal-content {
        position: relative;

        span{

          margin: 20px auto;
          color: $primary-color;
          font-size: 28px;
          font-weight: 500;
          
        }
        form{
          
          margin: 20px auto;
          width: 60%;
          
          input{
            
              width: 100%;
              border-radius: 8px;
              border: none;
              padding: 10px 15px;
              margin-bottom: 20px;

          }

          input:focus{
            outline: none;
          }

          button{
            
              width: 100%;
              border: none;
              margin: 20px 0;
              padding: 10px 15px;
              border-radius: 5px;
              background-color: $primary-color;
              color: $color-white;

          }
          p{
            
            text-align: end;
            display: block;
            cursor: pointer;
          }
        }

        .icon-close{
          position: absolute;
          top: 10px;
          right: 20px;
          color: $primary-color;
          cursor: pointer;
          font-size: 30px;
        }
    }

    &.logout-modal {
        width: 400px;
        max-width: 90%;
        height: auto;
        min-height: auto;
        max-height: none;
        padding: 0;
        background-color: $secondary-color; 
        
        .modal-content {
             background-color: transparent; 
             
             .icon-warning {
                 color: $primary-color;
             }

             .title-logout {
                color: $primary-color;
                font-weight: bold;
             }

             .text-logout {
                 color: $color-white; 
                 font-size: 16px;
             }
             
             .btn-logout {
                 background-color: $primary-color;
                 color: $color-white;
                 border: none;
                 &:hover {
                     background-color: darken($primary-color, 10%);
                 }
             }

             .icon-close {
                 color: $primary-color;
             }
        }
    }
}
