// Header
header {
  background-color: $secondary-color;
  position: relative;
  z-index: 100;
  .input-group {
    .form-control:focus {
      outline: none !important;
      box-shadow: none !important;
      border-color: #dee2e6;
    }
  }
  .navbar {
    button {
      background-color: $primary-white;
      color: $primary-black;
      border: 1px solid $secondary-color;
      font-weight: 500;
      transition: all 0.5s ease;
      &:hover {
        background-color: $primary-color;
        color: $primary-white;
      }
    }
  }
  .row {
    background-color: $primary-white;
    .col {
      transition: all 0.5s ease;
      a {
        text-decoration: none;
        color: $primary-black;
      }
      &:hover {
        background-color: $primary-color;
        a {
          color: $primary-white;
        }
      }
    }
  }
}
