// Google Font
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Global Variables
$primary-font: "Roboto", sans-serif;
$secondary-font: "Karma", serif;
$primary-white: #d9d9d9;
$primary-color: #5e0a0a;
$secondary-color: #a19191;
$primary-black: #000000;
$color-article: #2082F4;
$color-approved: #0BC9C9;
$color-reject: #D27B4A;
$button-color: #C27E7E;
