// Google Font
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Global Variables
$primary-font: "Roboto", sans-serif;
$secondary-font: "Karma", serif;
$primary-white: #d9d9d9;
$primary-color: #5e0a0a;
$secondary-color: #a19191;
$primary-black: #000000;
$color-article: #2082F4;
$color-approved: #0BC9C9;
$color-reject: #D27B4A;
$color-white: #ffffff;
$text-muted: #999999;
$color-pending: #fff3cd; // Light yellow/orange specific for author pending
$color-pending-text: #856404;
$color-reject-bg: #f8d7da;
$color-reject-text: #721c24;
$color-approved-bg: #d4edda;
$color-approved-text: #155724;
$button-color: #C27E7E;
