// Google Font
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Global Variables
$primary-font: "Roboto", sans-serif;
$secondary-font: "Karma", serif;
$primary-white: #d9d9d9;
$primary-color: #5e0a0a;
$secondary-color: #a19191;
$primary-black: #000000;
$color-article: #2082F4;
$color-approved: #0BC9C9;
$color-reject: #D27B4A;
$button-color: #C27E7E;

body {
  font-family: $primary-font;
  font-size: 1em;
  color: $primary-black;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

// Header
header {
  background-color: $secondary-color;
  position: relative;
  z-index: 100;
  .input-group {
    .form-control:focus {
      outline: none !important;
      box-shadow: none !important;
      border-color: #dee2e6;
    }
  }
  .navbar {
    button {
      background-color: $primary-white;
      color: $primary-black;
      border: 1px solid $secondary-color;
      font-weight: 500;
      transition: all 0.5s ease;
      &:hover {
        background-color: $primary-color;
        color: $primary-white;
      }
    }
  }
  .row {
    background-color: $primary-white;
    .col {
      transition: all 0.5s ease;
      a {
        text-decoration: none;
        color: $primary-black;
      }
      &:hover {
        background-color: $primary-color;
        a {
          color: $primary-white;
        }
      }
    }
  }
}

// article
.article {
  background-color: $primary-white;
  .container {
    width: 1100px;
    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 500;
    }
    .card {
      overflow: hidden;
      .card-img {
        position: relative;
        height: 300px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .card-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          padding: 0;
          span {
            margin-right: 5px;
          }
        }
        .tag {
          background-color: #ffffff;
          border: 1px solid #000000;
          color: #000000;
          padding: 2px 12px;
          font-size: 14px;
        }
      }
    }
  }
}

// auth 
.card-modal{
  
    width: 80%;
    height: 400px;
    max-height: 500px;
    margin: 20px auto;
    background-color: #a19191;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 100rem;
    z-index: 999;

    .modal-content {
        position: relative;

        span{

          margin: 20px auto;
          color: $primary-color;
          font-size: 28px;
          font-weight: 500;
          
        }
        form{
          
          margin: 20px auto;
          width: 60%;
          
          input{
            
              width: 100%;
              border-radius: 8px;
              border: none;
              padding: 10px 15px;
              margin-bottom: 20px;

          }

          input:focus{
            outline: none;
          }

          button{
            
              width: 100%;
              border: none;
              margin: 20px 0;
              padding: 10px 15px;
              border-radius: 5px;
              background-color: $primary-color;
              color: white;

          }
          p{
            
            text-align: end;
            display: block;
            cursor: pointer;
          }
        }

        .icon-close{
          
          position: absolute;
          top: 10px;
          right: 20px;
          color: $primary-color;
          cursor: pointer;
          font-size: 30px;
        }
    }
}

.ant-alert{
  position: fixed;
  top: 30px;
  right: 30px;
  width: 300px;
  z-index: 1000;
}


.layout-admin{
  .sider{
    background-color: $primary-black;
    height: 100%;
    padding: 10px 20px;

    .sider-header{
      padding: 10px 20px;
      img{
        
        width: 100px;
        height: 100px;
        object-fit: contain;
        aspect-ratio: 16/9;
      }
      .admin{
        
        width: 200px;
        margin: 10px auto;
        display: flex;
        height: 28px;
        align-items: center;
        justify-content: center;
        background-color: $primary-white;
        gap: 10px;
        cursor: pointer;
        .icon-admin{
          color: $primary-black;
        }
        span{
          color: $primary-black;

        }
      }

    }
    .sider-content{
      height: 200px;
      max-height: 500px;
      margin: 20px 0;
      ul{
        list-style-type: none;
        padding: 0;
        text-align: start;
        width: 100%;
        height: 100%;
        li{
          background-color: #5e0a0a;
          height: 40px;
          margin: 10px 0;
          padding: 10px 15px;
          border-radius: 5px;
          a{
          
            text-decoration: none;
            color: white;
            display: inline;
          }
        }
      }
    }
  }
  .content{
    width: 100%;
    .content-header{
      width: 100%;
      box-shadow: var(--bs-box-shadow) !important;
      height: 100%;
      a {
        text-decoration: none;
        color: $primary-color;
        padding-left: 10px;
        font-weight: 700;
      }
      .icon{
        font-size: 24px;
        cursor: pointer;
      }

    }
    .dashboard{
      margin: 30px auto;
      
      .main-content{
        margin: 30px 0;
        padding: 0px 15px;
        .statistic-article{
          display: flex;
          gap: 20px;
          width: 100%;
          .ant-card{
            background-color: $color-article;
            .ant-card-body{
                    
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              
              .icon{
                        
                font-size: 38px;
                color: white;
    
              }
              .information-article{
                span{
                  display: flex;
                  flex-direction: column;
                  font-size: 16px;
                  align-items: start;
                  color: white;
                  font-weight: 700;
                }
                span:nth-child(2){
                  font-size: 28px;
  
                }
              }
            }
          }
          .ant-card:nth-child(2){
            background-color: $color-approved;
  
          }
          .ant-card:nth-child(3){
            background-color: $color-reject;
  
          }
          
          
          
        }
      }
      .chart{
        width: 600px;
        height: 600px;
        border: 3px solid #ccc;
        box-shadow: rgba(111,100,100,0.5) 1px 2px 1px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        padding: 10px 15px;
      }

    }

    .category-tag{
      margin: 50px auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      .ant-card{
        width: 50%;
        height: 400px;
        overflow: scroll;
        max-height: 500px;

      .ant-card-head{
            
        font-size: 15px;
        text-align: start;

      }
      .ant-card-body{
        position: relative;
        .category{
          background-color: #d9d9d9;
          padding: 10px 15px;
          border-radius: 5px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 4px 6px 1px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px auto;
          width: 200px;
          .category-title{
            font-weight: 500;
            background-color: transparent;
            border: none;
            display: inline;
            width: 90%;
            &:focus{
              outline: none;
            }
          }
        }
        .icon-update{
          cursor: pointer;
          font-size: 25px;

        }
        .icon-tick{
          font-size: 28px;
          color: green;
          cursor: pointer;
        }
        .icon-add{
          position: absolute;
          bottom: 53px;
          right: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    }

  }
  header{
    button {
      background-color: $primary-white;
      color: $primary-black;
      border: 1px solid $secondary-color;
      font-weight: 500;
      transition: all 0.5s ease;
      &:hover {
        background-color: $primary-color;
        color: $primary-white;
      }
    }
  }
  .article-not-approved{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    table{
      background-color: #ffffff;
      color: #000000;
      thead{
        border-bottom: 1px solid #ccc;
        th{
          padding: 10px 0;
        }
      }
      tbody{
        border-bottom: 1px solid #ccc;
        tr{
          border-bottom: 1px solid #ccc;
          td{
            padding: 10px 5px;
            .title{
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 10px 15px;
              gap: 10px;
              img{
                width: 100px;
                height: 50px;
                object-fit: contain;
                aspect-ratio: 16/9;
              }
              p{
                margin-bottom: 0;
                font-weight: 500;
              }
            }
            .icon{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              padding: 10px;
              font-size: 28px;
              .icon-close{
                color: red;
                cursor: pointer;
              }
              .icon-tick{
                color: green;
                cursor: pointer;
              
              }
            }
            .page{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              span{
                background-color: black;
                color: white;
                padding: 4px 10px;
                border-radius: 50%;
                cursor: pointer;
              }
            }
          }

        }
      }
    }
  }
}


// footer
footer {
  background-color: $secondary-color;
  .row {
    color: $primary-color;
    img {
      scale: 1.3;
    }
    span {
      color: $primary-white;
    }
    .follow {
      font-weight: bolder;
      span {
        color: $primary-color;
      }
    }
  }
}
