// Google Font
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Global Variables
$primary-font: "Roboto", sans-serif;
$secondary-font: "Karma", serif;
$primary-white: #d9d9d9;
$primary-color: #5e0a0a;
$secondary-color: #a19191;
$primary-black: #000000;

body {
  font-family: $primary-font;
  font-size: 1em;
  color: $primary-black;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

// Header
header {
  background-color: $secondary-color;
  position: relative;
  z-index: 100;
  .input-group {
    .form-control:focus {
      outline: none !important;
      box-shadow: none !important;
      border-color: #dee2e6;
    }
  }
  .navbar {
    button {
      background-color: $primary-white;
      color: $primary-black;
      border: 1px solid $secondary-color;
      font-weight: 500;
      transition: all 0.5s ease;
      &:hover {
        background-color: $primary-color;
        color: $primary-white;
      }
    }
  }
  .row {
    background-color: $primary-white;
    .col {
      transition: all 0.5s ease;
      a {
        text-decoration: none;
        color: $primary-black;
      }
      &:hover {
        background-color: $primary-color;
        a {
          color: $primary-white;
        }
      }
    }
  }
}

// article
.article {
  background-color: $primary-white;
  .container {
    width: 1100px;
    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 500;
    }
    .card {
      overflow: hidden;
      .card-img {
        position: relative;
        height: 300px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .card-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          padding: 0;
          span {
            margin-right: 5px;
          }
        }
        .tag {
          background-color: #ffffff;
          border: 1px solid #000000;
          color: #000000;
          padding: 2px 12px;
          font-size: 14px;
        }
      }
    }
  }
}

// footer
footer {
  background-color: $secondary-color;
  .row {
    color: $primary-color;
    img {
      scale: 1.3;
    }
    span {
      color: $primary-white;
    }
    .follow {
      font-weight: bolder;
      span {
        color: $primary-color;
      }
    }
  }
}
